@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>scope 1 : @ViewBag.ScopedGuid</div>
    <div>scope 2 : @ViewBag.ScopedGuid2</div>
    <div>transient1 : @ViewBag.TransientGuid</div>
    <div>transient2 : @ViewBag.TransientGuid2</div>
</div>
